footer.footer
  div.footer-content.off-white-text
    p © 2019 Todoapp-Powered by Prismic
    
    nav.footer-nav
      ul
        li
          img.dark-asset(src= "/images/facebook2.png", alt = "Facebook-icon") 
          img.white-asset(src= "/images/facebook1.png", alt = "Facebook-icon")
        li
          img.dark-asset(src= "/images/instagram2.png", alt = "Instagram-icon")
          img.white-asset(src= "/images/instagram1.png", alt = "Instagram-icon")
        li
          img.dark-asset(src= "/images/twitter2.png", alt = "Twitter-icon")
          img.white-asset(src= "/images/twitter1.png", alt = "Twitter-icon")
